body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 13px;
  overflow-x: hidden;
}

header {
  height: 100px;
  background-color: var(--color-dark);
  color: var(--color-white);
}

.container-header {
  display: flex;
  max-width: 1140px;
  height: 100px;
  margin: 0 auto;
  align-items: center;
}

.logo {
  width: 100px;
}

.img-logo {
  width: 80px;
  height: 70px;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.menu ul,
.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
}

.menu li a {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 5px solid var(--color-dark);
}

.menu li a:hover,
.menu .-active a {
  border-bottom: 5px solid var(--color-primary);
  color: var(--color-first-gray);
}

.button {
  display: inline-block;
  background-color: var(--color-primary);
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 30px;
  margin-top: 30px;
}

.banner {
  height: calc(100vh - 100px);
  background-color: var(--color-third-gray);
  background-image: url("../../img/complementos/background.jpg");
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.banner .sliders {
  width: 1000vw;
  height: 100%;
}

.banner .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
  background-color: var(--color-dark-opacity);
}

.banner .slidearea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--color-white);
}

.banner h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  margin: 0;
}

.banner h1 span {
  color: var(--color-primary);
}

.banner h2 {
  text-transform: uppercase;
  margin-top: 20px;
}

.banner .pointers {
  width: 100vw;
  height: 20px;
  position: absolute;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid var(--color-primary);
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.banner .pointer.-active {
  background-color: var(--color-primary);
}

.default {
  padding-top: 50px;
  padding-bottom: 50px;
}

.default .title,
.default .description {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.default .title {
  font-size: 20px;
}

.default .description {
  font-size: 12px;
  color: var(--color-first-gray);
  margin-top: 10px;
  margin-bottom: 40px;
}

.default .content {
  max-width: 1140px;
  margin: auto;
}

.default.-light {
  background-color: var(--color-light);
}

.default.-light .title,
.default.-light .content {
  color: var(--color-dark);
}

.default.-dark {
  background-color: var(--color-dark);
}

.default.-dark .title,
.default.-dark .content {
  color: var(--color-white);
}

/*About us*/

.default .about-us {
  display: flex;
}

.default .about-us.-left {
  flex: 1;
}

.default .about-us.-left p {
  font-size: 14px;
  line-height: 25px;
}

.default .about-us.-right {
  width: 480px;
  text-align: center;
}

.default .about-us.-right img {
  width: 480px;
  box-shadow: 0px 5px 10px var(--color-third-gray);
}

.default .services {
  display: flex;
}

.default .service {
  flex: 1;
  text-align: center;
  border-right: 1px solid var(--color-third-gray);
  padding: 15px;
}

.default .service:first-child {
  border-left: 1px solid var(--color-third-gray);
}

.default .service h4 {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 20px;
}

.default .service p {
  font-size: 13px;
  color: var(--color-second-gray);
  margin-top: 10px;
}

/* Projects */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects .filter {
  border: 1px solid var(--color-first-gray);
  background-color: var(--color-light-gray);
  border-radius: 30px;
  display: inline-block;
  padding: 0px 20px;
}

.projects .filter ul,
.projects .filter li {
  list-style: none;
  padding: 0;
}

.projects .filter li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 13px;
  border-left: 1px solid var(--color-first-gray);
  color: var(--color-third-gray);
  border-bottom: 3px solid var(--color-light-gray);
  cursor: pointer;
}

.projects .filter li:hover,
.projects .filter li.-active {
  border-bottom: 3px solid var(--color-primary);
}

.projects .filter li:first-child {
  border-left: 0;
}
