.clients {
  max-width: 735px;
  margin: 0 auto;
}

.clients .clients-reviews {
  text-align: center;
}

.clients .avatar {
  width: 150px;
  height: auto;
  margin-bottom: 30px;
}

.clients .role {
  font-size: 14px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 30px;
}

.clients .review {
  margin-top: 10px;
  padding: 10px;
  color: var(--color-second-gray);
  line-height: 20px;
}

.clients .pointers {
  height: 20px;
  margin-top: 50px;
}
