.contact-us {
  max-width: 1140px;
  margin: auto;
  text-align: center;
}

.container-form {
  display: flex;
  justify-content: center;
}

.container-form form {
  width: 55%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  box-sizing: content-box;
}

.container-form input {
  width: 100vw;
  text-transform: uppercase;
  color: var(--color-second-gray);
  font-weight: 300;
  border: none;
  border-bottom: 2px solid var(--color-second-gray);
  padding-bottom: 10px;
  margin-bottom: 30px;
  background-color: var(--color-light);
}

.container-form input:first-child {
  margin-right: 30px;
}

.container-form input:last-child {
  margin-top: 60px;
}

.container-form .input-name,
.container-form .input-email {
  flex: 1;
}
