.default.-premium-plan {
  text-align: center;
}

.premium {
  max-width: 1140px;
  margin: auto;
  text-align: left;
}

.premium .premium-plan {
  display: flex;
  justify-content: center;
  align-items: center;
}

.premium .books {
  width: 280px;
}

.default .border {
  border-bottom: 1px solid var(--color-light-gray);
  padding-top: 50px;
  width: 70%;
  margin: auto;
}

.content-box {
  width: 400px;
  height: 250px;
  margin-left: 80px;
}

.content-box img {
  width: 30px;
  vertical-align: middle;
  margin-right: 20px;
}

.content-box dt {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

.content-box dd {
  font-size: 12px;
  color: var(--color-first-gray);
  margin-left: 58px;
  margin-bottom: 20px;
  line-height: 20px;
}

.content-box dd p {
  text-transform: uppercase;
}

.default .pointers {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.default .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid var(--color-primary);
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.default .pointer.-active {
  background-color: var(--color-primary);
}
