.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects .filter {
  border: 1px solid var(--color-first-gray);
  background-color: var(--color-light-gray);
  border-radius: 30px;
  padding: 0px 20px;
}

.projects .filter ul,
.projects .filter li {
  list-style: none;
  padding: 0;
}

.projects ul {
  display: flex;
}

.projects .filter li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 13px;
  border-left: 1px solid var(--color-first-gray);
  color: var(--color-third-gray);
  border-bottom: 3px solid var(--color-light-gray);
  cursor: pointer;
}

.projects .filter li:hover,
.projects .filter li.-active {
  border-bottom: 3px solid var(--color-primary);
}

.projects .filter li:first-child {
  border-left: 0;
}

.projects .photos {
  max-width: 1140px;
  width: 100vw;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects .photo {
  width: 280px;
}

.projects .photo-content {
  margin: 10px;
  width: 260px;
  height: 160px;
}

.projects .photo-content img {
  width: inherit;
  height: inherit;
}

.projects .photo-description {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: var(--color-dark-opacity);
  width: inherit;
  height: inherit;
  color: var(--color-white);
  padding: 30px;
}

.projects .photo-content:hover .photo-description {
  display: flex;
}

.projects .photo-description h5 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}
